extends ./layout/index

block contenido 
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus est, libero ratione accusantium, qui vel temporibus minima officiis hic necessitatibus doloribus aut aperiam architecto earum, sequi expedita voluptatem aliquid asperiores.

                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum accusamus iure corrupti officia aspernatur maiores iste atque. Veniam perspiciatis cum quam eius! Accusamus possimus debitis rerum distinctio minima tempora odit.Facere ipsam ratione hic voluptate consequuntur optio cupiditate fugit inventore nihil, ea vero sint.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt maxime aliquid impedit possimus amet sapiente, incidunt animi quaerat ipsa, sit magni vitae rerum repellendus quisquam veritatis illum ut nulla quas.Deleniti obcaecati impedit.

    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono Seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis veniam sapiente suscipit similique omnis iusto quisquam, laborum ut.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono Destino", class="img-fluid mb-4")
                    h2.mb-4 Destino
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis veniam sapiente suscipit similique omnis iusto quisquam, laborum ut.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="Icono Precios", class="img-fluid mb-4")
                    h2.mb-4 Precios
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis veniam sapiente suscipit similique omnis iusto quisquam, laborum ut.